# ============================================
# FRONTEND (Next.js)
# ============================================

NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_FRONTEND_URL=https://ahlearning.vercel.app


# ============================================
# FIREBASE CLIENT (Frontend)
# ============================================

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC2NVDjn2k3SxAZQ6jKsBx6Saz1IJoXASs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=learning-app-f31da.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=learning-app-f31da
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=learning-app-f31da.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=193796480183
NEXT_PUBLIC_FIREBASE_APP_ID=1:193796480183:web:79b2ef6657d6e49a3c4132
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RPH267N84H


# ============================================
# BACKEND (NestJS)
# ============================================

NODE_ENV=production
PORT=4000

FRONTEND_URL=https://ahlearning.vercel.app
API_PREFIX=api/v1


# ============================================
# DATABASE (Render PostgreSQL)
# ============================================

DATABASE_URL=postgresql://ahlearningdb_user:oIo9iBvxtoeY8XoNshzZiygKX5XoMcYQ@dpg-d8g70m3bc2fs73cbihmg-a.singapore-postgres.render.com/ahlearningdb


# ============================================
# JWT AUTH
# ============================================

JWT_SECRET=e318da92cdfb83fcfb501232da2009188fb2c3fff9d63156c885eff5500bdc88fca1e09e75454a1123f233a07d973afa8064d66209a0698f20af936841405727
JWT_REFRESH_SECRET=b161ab44e0680a714fb0b1422f8f1db9204e73165b26d537d464c32c85c09f42395757ae97f8d7c7f14af628cee0362ce92ce26dc062b1660fb502fbbd634709


# ============================================
# FIREBASE ADMIN (Backend)
# ============================================

FIREBASE_PROJECT_ID=learning-app-f31da
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@learning-app-f31da.iam.gserviceaccount.com
FIREBASE_STORAGE_BUCKET=learning-app-f31da.firebasestorage.app

FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_NEW_PRIVATE_KEY\n-----END PRIVATE KEY-----"


# ============================================
# SMTP (Email - optional)
# ============================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=abid017217211@gmail.com
SMTP_PASSWORD=fehd iwbx fdzt gxyb
SMTP_FROM=noreply@ahlearning.com
SMTP_FROM_NAME=A.H Learning


# ============================================
# CORS & LOGGING
# ============================================

CORS_ORIGINS=https://ahlearning.vercel.app,http://localhost:3000
LOG_LEVEL=info
LOG_FORMAT=json